﻿@{
    ViewData["Title"] = "Clientes";
}

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB93JWII7rn5lZgK0hJs_KssPJRCqFrgpA&callback=initMap" async defer></script>

<script type="text/javascript">
    var urlClientes = '@Url.Action("ListaClientes", "Clientes")';
    var encabezadosClientes = ['ID', 'Documento', 'Nombres', 'Apellidos', 'Fecha de Nacimiento', 'Dirección', 'Teléfono', 'Estado', '']
    var map;
    var marker;
    var latitud = 15.102651555429693;
    var longitud = -90.31879663467407;
    var municipios = @Html.Raw(Json.Serialize(ViewBag.Municipios));

    $(document).ready(function () {
        LlenarDataTable(urlClientes, 'clientesDiv', encabezadosClientes)

        $("#DepartamentoID").on("change", function () {
            const selectedDepartamento = $("#DepartamentoID").val();
            const municipiosFilter = municipios.filter((municipio) => municipio.padreID == parseInt(selectedDepartamento));
            $("#RegionID").empty();

            $.each(municipiosFilter, function (index, municipio) {
                $("#RegionID").append($('<option>', {
                    value: municipio.id,
                    text: municipio.nombre
                }));
            });
        });
    });

    function RespuestaCrearEditarCliente(data) {
        if (data.resultado) {
            Alerta("Éxito", data.mensaje, "success")
            LlenarDataTable(urlClientes, 'clientesDiv', encabezadosClientes)
            ClearControlModal();
        } else {
            Alerta("Alerta", data.mensaje, "warning")
        }
    }

    function CambiarEstadoCliente(id) {
        OpenWaitDialog()
        var urlGetStudent = '@Url.Action("CambiarEstadoCliente", "Clientes")' + '?id=' + id;
        $.ajax({
            url: urlGetStudent,
            type: 'GET',
            success: function (result) {
                if (result.resultado) {
                    Alerta("Éxito", result.mensaje, "success")
                    LlenarDataTable(urlClientes, 'clientesDiv', encabezadosClientes)
                } else {
                    Alerta("Alerta", result.mensaje, "warning")
                }
                CloseWaitDialog()
            },
            error: function () {
                console.log("Fallo al eliminar el cliente");
                CloseWaitDialog()
            }
        });
    }

    function ObtenerCliente(id) {
        OpenWaitDialog()
        var urlGetCliente = '@Url.Action("ObtenerCliente", "Clientes")' + '?id=' + id;
        $("#TitleCreateUpdateCliente").text('Editar Cliente');
        $.ajax({
            url: urlGetCliente,
            type: 'GET',
            success: function (result) {
                if (result.resultado != null && result.resultado != undefined) {
                    Alerta("Alerta", result.mensaje, "warning");
                } else {
                    $("#ClienteID").val(result.id);
                    $("#Documento").val(result.documento);
                    $("#Nombre").val(result.nombre);
                    $("#Apellido").val(result.apellido);
                    $("#GeneroID").val(result.generoID);
                    $("#Correo").val(result.correo);
                    $("#FechaNacimiento").val(result.fechaNacimiento.split("T")[0]);
                    $("#Telefono").val(result.telefono);
                    $("#Direccion").val(result.direccion);

                    var municipioTemp = municipios.filter((municipio) => municipio.id === result.regionID)
                    $("#DepartamentoID").val(municipioTemp[0].padreID).trigger('change');
                    $("#RegionID").val(municipioTemp[0].id);

                    // Llena el campo RegionID en función de la selección en DepartamentoID
                    $("#Ocupacion").val(result.ocupacion);
                    $("#EstadoCivilID").val(result.estadoCivilID);
                    $("#Latitud").val(result.latitud);
                    $("#Longitud").val(result.longitud);

                    var newLatLng = new google.maps.LatLng(parseFloat(result.latitud), parseFloat(result.longitud));
                    marker.setPosition(newLatLng);
                    map.panTo(newLatLng);

                    $("#crearEditarClienteModal").modal("show");
                }
                CloseWaitDialog()
            },
            error: function () {
                console.log("Fallo al obtener el Cliente");
                CloseWaitDialog()
            }
        });
    }

    function EliminarCliente(id) {
        OpenWaitDialog()
        var urlGetStudent = '@Url.Action("EliminarCliente", "Clientes")' + '?id=' + id;
        $.ajax({
            url: urlGetStudent,
            type: 'GET',
            success: function (result) {
                if (result.resultado) {
                    Alerta("Éxito", result.mensaje, "success")
                    LlenarDataTable(urlClientes, 'clientesDiv', encabezadosClientes)
                } else {
                    Alerta("Alerta", result.mensaje, "warning")
                }
                CloseWaitDialog()
            },
            error: function () {
                console.log("Fallo al eliminar el cliente");
                CloseWaitDialog()
            }
        });
    }

    function ClearControlModal() {
        $("#ClienteID").val('0');
        $("#Documento").val('');
        $("#Nombre").val('');
        $("#Apellido").val('');
        $("#GeneroID").val('');
        $("#Telefono").val('');
        $("#Direccion").val('');
        $("#DepartamentoID").val('');
        $("#RegionID").val('');
        $("#Ocupacion").val('');
        $("#EstadoCivilID").val('');
        $("#Correo").val('');
        $("#FechaNacimiento").val('');
        $("#Latitud").val(latitud);
        $("#Longitud").val(longitud);
        marker.setPosition({ latitud, lng: longitud });
        $("#TitleCreateUpdateCliente").text('Crear Cliente');
        $("#crearEditarClienteModal").modal("hide");
    }

    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: { lat: latitud, lng: longitud }, // Coordenadas iniciales
            zoom: 15 // Nivel de zoom
        });

        // Inicializa el marcador en el centro del mapa
        marker = new google.maps.Marker({
            position: { lat: latitud, lng: longitud },
            map: map,
            draggable: true
        });

        marker.addListener('dragend', function () {
            var position = marker.getPosition();
            $("#Latitud").val(position.lat());
            $("#Longitud").val(position.lng());
        });
    }
</script>

<div class="row">
    <div class="col-12 col-md-6">
        <h1>Clientes</h1>
    </div>
    <div class="col-12 col-md-6">
        <button type="button" class="float-sm-end btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#crearEditarClienteModal" onclick="ClearControlModal()">Crear Cliente</button>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-12 table-responsive" id="clientesDiv"></div>
</div>


<div class="modal fade" id="crearEditarClienteModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="TitleCreateUpdateCliente" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <form asp-action="CrearEditarClientes" asp-controller="Clientes"
                  data-ajax="true" data-ajax-method="POST"
                  data-ajax-begin="OpenWaitDialog()"
                  data-ajax-success="RespuestaCrearEditarCliente(data)">
                <div class="modal-header">
                    <h5 class="modal-title" id="TitleCreateUpdateCliente"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <input type="text" hidden="hidden" id="ClienteID" name="cliente.ID" readonly="readonly" />
                        <div class="form-floating mt-3 mb-3 col-12 col-md-6">
                            <input type="text" class="form-control" id="Documento" name="cliente.Documento" autocomplete="off" placeholder="Ingrese el documento" />
                            <label for="Documento" class="form-label">Documento</label>
                        </div>
                        <div class="form-floating mt-3 mb-3 col-12 col-md-6">
                            <input type="text" class="form-control" id="Nombre" name="cliente.Nombre" autocomplete="off" placeholder="Ingrese el nombre" />
                            <label for="Nombre" class="form-label">Nombre</label>
                        </div>
                        <div class="form-floating mt-3 mb-3 col-12 col-md-6">
                            <input type="text" class="form-control" id="Apellido" name="cliente.Apellido" autocomplete="off" placeholder="Ingrese el apellido" />
                            <label for="Apellido" class="form-label">Apellido</label>
                        </div>
                        <div class="form-floating mt-3 mb-3 col-12 col-md-6">
                            <select class="form-select" id="GeneroID" name="cliente.GeneroID" aria-label="Floating label select example">
                                @foreach (var item in ViewBag.Generos)
                                {
                                    <option value="@item.ID">@item.Nombre</option>
                                }
                            </select>
                            <label for="GeneroID" class="form-label">Género</label>
                        </div>
                        <div class="form-floating mt-3 mb-3 col-12 col-md-6">
                            <input type="text" class="form-control" id="Correo" name="cliente.Correo" autocomplete="off" placeholder="Ingrese el correo" />
                            <label for="Correo" class="form-label">Correo</label>
                        </div>

                        <div class="form-floating mt-3 mb-3 col-12 col-md-6">
                            <input type="date" class="form-control" id="FechaNacimiento" name="cliente.FechaNacimiento" autocomplete="off" placeholder="Ingrese la fecha de nacimiento" />
                            <label for="FechaNacimiento" class="form-label">Fecha de Nacimiento</label>
                        </div>
                        <div class="form-floating mt-3 mb-3 col-12 col-md-6">
                            <input type="text" class="form-control" id="Telefono" name="cliente.Telefono" autocomplete="off" placeholder="Ingrese el teléfono" />
                            <label for="Telefono" class="form-label">Teléfono</label>
                        </div>
                        <div class="form-floating mt-3 mb-3 col-12 col-md-6">
                            <input type="text" class="form-control" id="Direccion" name="cliente.Direccion" autocomplete="off" placeholder="Ingrese la dirección" />
                            <label for="Direccion" class="form-label">Dirección</label>
                        </div>
                        <div class="form-floating mt-3 mb-3 col-12 col-md-6">
                            <select class="form-select" id="DepartamentoID" name="cliente.DepartamentoID" aria-label="Floating label select example">
                                @foreach (var item in ViewBag.Departamentos)
                                {
                                    <option value="@item.ID">@item.Nombre</option>
                                }
                            </select>
                            <label for="DepartamentoID" class="form-label">Departamento</label>
                        </div>
                        <div class="form-floating mt-3 mb-3 col-12 col-md-6">
                            <select class="form-select" id="RegionID" name="cliente.RegionID" aria-label="Floating label select example">
                                <option>Seleccione un Departamento</option>
                            </select>
                            <label for="RegionID" class="form-label">Municipio</label>
                        </div>
                        <div class="form-floating mt-3 mb-3 col-12 col-md-6">
                            <input type="text" class="form-control" id="Ocupacion" name="cliente.Ocupacion" autocomplete="off" placeholder="Ingrese la ocupación" />
                            <label for="Ocupacion" class="form-label">Ocupación</label>
                        </div>
                        <div class="form-floating mt-3 mb-3 col-12 col-md-6">
                            <select class="form-select" id="EstadoCivilID" name="cliente.EstadoCivilID" aria-label="Floating label select example">
                                @foreach (var item in ViewBag.EstadosCiviles)
                                {
                                    <option value="@item.ID">@item.Nombre</option>
                                }
                            </select>
                            <label for="EstadoCivilID" class="form-label">Estado Civil</label>
                        </div>
                        <div class="form-floating mt-3 mb-3 col-6 col-md-3">
                            <input type="text" class="form-control" id="Latitud" name="cliente.Latitud" autocomplete="off" readonly="readonly" />
                            <label for="Latitud" class="form-label">Latitud</label>
                        </div>
                        <div class="form-floating mt-3 mb-3 col-6 col-md-3">
                            <input type="text" class="form-control" id="Longitud" name="cliente.Longitud" autocomplete="off" readonly="readonly" />
                            <label for="Longitud" class="form-label">Longitud</label>
                        </div>
                        <div id="map" class="col-12 mt-3 mb-3 col-12" style="height: 300px;"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" @* onclick="return ValidarCamposCliente()" *@ class="btn btn-outline-success">Guardar</button>
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </form>
        </div>
    </div>
</div>
