﻿@{
    ViewData["Title"] = "Registro de Casos";
}

<script>
    var urlClientes = '@Url.Action("ListaClientes", "Casos")';
    var encabezadosClientes = ['ID', 'Documento', 'Nombres', 'Apellidos', 'Teléfono', 'Correo', '']
    var clienteID = 0;

    $(document).ready(function () {
        LlenarDataTable(urlClientes, 'clientesDiv', encabezadosClientes);
    });

    function AbrirModalCliente() {
        $("#modalListadoClientes").modal('show');
    }

    function ValidarCampos() {
        if (clienteID == 0) {
            Alerta("Alerta", "Debe seleccionar un cliente para crear un caso", "warning")
            return false;
        }

        const observacion = $("#Observacion").val();

        if (observacion == "") {
            Alerta("Alerta", "Debe ingresar las observaciones o detalles del caso", "warning")
            return false;
        }

        return true;
    }

    function SeleccionarCliente(id, nombre) {
        $("#ClienteID").val(id);
        clienteID = id;
        $("#Cliente").val(nombre);
        $("#modalListadoClientes").modal('hide');
    }

    function LimpiarCampos(){
        $("#ClienteID").val(0);
        clienteID = 0;
        $("#Cliente").val("");
        $("#Observacion").val("");
    }

    function RespuestaCrearCasos(data) {
        if (data.resultado) { 
            Alerta("Éxito", data.mensaje, "success")
            LimpiarCampos();
        }else{
            Alerta("Alerta", data.mensaje, "warning")
        }
    }

</script>

<div class="row">
    <div class="col-12 col-md-6">
        <h1>Registra un nuevo caso</h1>
    </div>
    <div class="col-12 col-md-6">
        @* <button type="button" class="float-sm-end btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#crearAgenciasModal" onclick="ClearControlModal()">Crear Agencia</button> *@
    </div>
</div>

<hr />

<form asp-action="CrearEditarCasos" asp-controller="Casos"
      data-ajax="true" data-ajax-method="POST"
      data-ajax-begin="OpenWaitDialog()"
      data-ajax-success="RespuestaCrearCasos(data)">
    <div class="row justify-content-center">
        <div class="col-6  border border-gray border-2 rounded">
            <input type="text" hidden="hidden" id="ClienteID" name="caso.ClienteID" readonly="readonly" />
            <div class="form-floating mt-3 mb-3">
                <input type="text" class="form-control" value="Haz click para seleccionar un cliente" onclick="AbrirModalCliente()" id="Cliente" name="caso.Cliente" autocomplete="off" readonly="readonly" placeholder="Ingrese al cliente" />
                <label for="Cliente" class="form-label">Cliente</label>
            </div>
            <div class="form-floating mb-3">
                <textarea type="text" class="form-control" id="Observacion" name="caso.Observacion" autocomplete="off" placeholder="Ingrese una observación"></textarea>
                <label for="Observacion" class="form-label">Observación</label>
            </div>
            <div class="form-floating mb-3">
                <select class="form-select" id="CategoriaID" name="caso.CategoriaID" aria-label="Floating label select example">
                    @foreach (var item in ViewBag.Categorias)
                    {
                        <option value="@item.ID">@item.Nombre</option>
                    }
                </select>
                <label for="CategoriaID" class="form-label">Categoría</label>
            </div>
            <div class="justify-content-center mb-3">
                <button type="submit" onclick="return ValidarCampos()" class="btn btn-outline-success">Registrar</button>
            </div>
        </div>
    </div>
</form>

<div class="modal fade" id="modalListadoClientes" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalListadoClientesLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalListadoClientesLabel">Clientes</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="col-12 table-responsive" id="clientesDiv"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>