﻿@{
    ViewData["Title"] = "Seguimiento de Casos";
}

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB93JWII7rn5lZgK0hJs_KssPJRCqFrgpA&callback=initMap" async defer></script>

<script type="text/javascript">
    var urlVisitas = '@Url.Action("ListaVisitas", "Casos")';
    var encabezadosVisitas = ['ID', 'Técnico Asignado',
        'Código de Seguimiento', 'Fecha de Visita',
        'Fecha y Hora',
        'Latitud<br>Longitud', 'Estado', '']
    var map;
    var marker;
    var latitud = 15.102651555429693;
    var longitud = -90.31879663467407;
    var inputsNo = 1;

    $(document).ready(function () {
        LlenarDataTable(urlVisitas, 'visitasDiv', encabezadosVisitas)
    });

    function RespuestaVisitas(data) {
        if (data.resultado) {
            Alerta("Éxito", data.mensaje, "success")
            LlenarDataTable(urlVisitas, 'visitasDiv', encabezadosVisitas)
            ClearControlModal();
        } else {
            Alerta("Alerta", data.mensaje, "warning")
        }
    }

    function IniciarVisita(id, lat, long) {
        $("#IniciarVisitaID").val(id);
        $("#Latitud").val(lat);
        $("#Longitud").val(long);

        var newLatLng = new google.maps.LatLng(parseFloat(lat), parseFloat(long));
        marker.setPosition(newLatLng);
        map.panTo(newLatLng);

        $("#iniciarVisitaModal").modal("show");
    }

    function FinalizarVisitas(id) {
        OpenWaitDialog()
        var urlGetCommunity = '@Url.Action("ObtenerVisita", "Casos")' + '?id=' + id;
        $.ajax({
            url: urlGetCommunity,
            type: 'GET',
            success: function (result) {
                if (result.resultado != null && result.resultado != undefined) {
                    Alerta("Alerta", result.mensaje, "warning");
                } else {
                    if (result.visitaTareas.length > 0) {
                        $("#FinalizarVisitaID").val(result.id);
                        $("#HoraInicio").val(result.fechaHoraInicio);
                        $("#HoraFin").val(result.fechaHoraFin);

                        $("#ListaTareasVisita").empty()

                        $.each(result.visitaTareas, function (index, tarea) {
                            $("#ListaTareasVisita").append($('<li>', {
                                class: "list-group-item",
                                text: tarea.descripcion
                            }));
                        });

                        $("#finalizarVisitaModal").modal("show");
                    } else {
                        Alerta("Alerta", "Aún no ha registrado tareas para esta visita", "warning");
                    }
                }
                CloseWaitDialog()
            },
            error: function () {
                console.log("Fallo al obtener los datos de la visita");
                CloseWaitDialog()
            }
        });
    }

    function ClearControlModal() {
        inputsNo = 1;
        $("#IniciarVisitaID").val('0');
        $("#Latitud").val('');
        $("#Longitud").val('');
        $("#tareasVisitaModal").modal("hide");
        $("#finalizarVisitaModal").modal("hide");
        $("#iniciarVisitaModal").modal("hide");
    }

    function EliminarVisita(id) {
        OpenWaitDialog()
        var urlGetStudent = '@Url.Action("EliminarVisita", "Casos")' + '?id=' + id;
        $.ajax({
            url: urlGetStudent,
            type: 'GET',
            success: function (result) {
                if (result.resultado) {
                    Alerta("Éxito", result.mensaje, "success")
                    LlenarDataTable(urlVisitas, 'visitasDiv', encabezadosVisitas)
                } else {
                    Alerta("Alerta", result.mensaje, "warning")
                }
                CloseWaitDialog()
            },
            error: function () {
                console.log("Fallo al eliminar la visita");
                CloseWaitDialog()
            }
        });
    }

    function AgregarTareasVisita(id) {
        OpenWaitDialog()
        var urlGetCommunity = '@Url.Action("ObtenerVisita", "Casos")' + '?id=' + id;
        $.ajax({
            url: urlGetCommunity,
            type: 'GET',
            success: function (result) {
                if (result.resultado != null && result.resultado != undefined) {
                    Alerta("Alerta", result.mensaje, "warning");
                } else {
                    $("#TareasVisitaID").val(result.id)
                    $("#ListaRegistroTareasVisita").empty()

                    if (result.visitaTareas.length > 0) {
                        $.each(result.visitaTareas, function (index, tarea) {
                            $("#ListaRegistroTareasVisita").append($('<li>', {
                                class: "list-group-item",
                                text: tarea.descripcion
                            }));
                        });
                    } else {
                        $("#ListaRegistroTareasVisita").append($('<li>', {
                            class: "list-group-item",
                            text: "No existen tareas registradas"
                        }));
                    }

                    $("#inputsTareasVisita").empty()
                    $("#inputsTareasVisita").append('<div class="form-floating mt-3 col-12">'
                        + '<input type="text" class="form-control" id="visita0" name="visita.Tareas[0]" autocomplete="off" placeholder="Ingrese el nombre" required="required" />'
                        + '<label for="visita0" class="form-label">Tarea 1</label>'
                        + '</div>');

                    $("#tareasVisitaModal").modal("show");
                }
                CloseWaitDialog()
            },
            error: function () {
                console.log("Fallo al obtener los datos de la visita");
                CloseWaitDialog()
            }
        });
    }

    function AgregarNuevoInput() {
        $("#inputsTareasVisita").append(
            '<div class="form-floating mt-3 col-12">'
            + '<input type="text" class="form-control" id="visita' + inputsNo + '" name="visita.Tareas[' + inputsNo + ']" autocomplete="off" placeholder="Ingrese el nombre" required="required" />'
            + '<label for="visita' + inputsNo + '" class="form-label">Tarea ' + (parseInt(inputsNo) + 1) + '</label>'
            + '</div>'
        );
        inputsNo++;
        return false;
    }

    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: { lat: latitud, lng: longitud }, // Coordenadas iniciales
            zoom: 15 // Nivel de zoom
        });

        // Inicializa el marcador en el centro del mapa
        marker = new google.maps.Marker({
            position: { lat: latitud, lng: longitud },
            map: map,
            draggable: true
        });

        marker.addListener('dragend', function () {
            var position = marker.getPosition();
            $("#Latitud").val(position.lat());
            $("#Longitud").val(position.lng());
        });
    }
</script>

<div class="row">
    <div class="col-12 col-md-6">
        <h1>Visitas</h1>
    </div>
    <div class="col-12 col-md-6">
        @* <button type="button" class="float-sm-end btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#crearCasosModal" onclick="ClearControlModal()">Crear Visita</button> *@
    </div>
</div>

<hr />

<div class="row">
    <div class="col-12 table-responsive" id="visitasDiv"></div>
</div>

@* Iniciar visita *@
<div class="modal fade" id="iniciarVisitaModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="TitleCreateUpdateVisita" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form asp-action="IniciarVisita" asp-controller="Casos"
                  data-ajax="true" data-ajax-method="POST"
                  data-ajax-begin="OpenWaitDialog()"
                  data-ajax-success="RespuestaVisitas(data)">
                <div class="modal-header">
                    <h5 class="modal-title">Iniciar Visita</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <input type="text" hidden="hidden" id="IniciarVisitaID" name="visita.ID" readonly="readonly" />
                        <div class="form-floating mt-3 mb-3 col-12 col-md-6">
                            <input type="text" class="form-control" id="Latitud" name="visita.Latitud" autocomplete="off" readonly="readonly" />
                            <label for="Latitud" class="form-label">Latitud</label>
                        </div>
                        <div class="form-floating mt-3 mb-3 col-12 col-md-6">
                            <input type="text" class="form-control" id="Longitud" name="visita.Longitud" autocomplete="off" readonly="readonly" />
                            <label for="Longitud" class="form-label">Longitud</label>
                        </div>
                        <div id="map" class="col-12 mt-3 mb-3 col-12" style="height: 300px;"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-outline-success">Iniciar Visita</button>
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </form>
        </div>
    </div>
</div>


@* Tareas visita *@
<div class="modal fade" id="tareasVisitaModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="TitleCreateUpdateVisita" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form asp-action="TareasVisita" asp-controller="Casos"
                  data-ajax="true" data-ajax-method="POST"
                  data-ajax-begin="OpenWaitDialog()"
                  data-ajax-success="RespuestaVisitas(data)">
                <div class="modal-header">
                    <h5 class="modal-title">Registrar Tareas de la Visita</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row mt-3 mb-3 ">
                        <h5 class="modal-title">Tareas Realizadas</h5>
                    </div>
                    <div class="row">
                        <input type="text" hidden="hidden" id="TareasVisitaID" name="visita.ID" readonly="readonly" />
                        <ol class="list-group list-group-numbered" id="ListaRegistroTareasVisita"></ol>
                    </div>
                    <div class="row mt-3 mb-3 ">
                        <h5 class="modal-title">Nuevas Tareas</h5>
                    </div>
                    <div class="row" id="inputsTareasVisita"></div>
                    <div class="row m-4 ">
                        <button class="btn btn-outline-primary" onclick="return AgregarNuevoInput()"><i class="fa fa-plus" aria-hidden="true"></i> Agregar más tareas</button>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-outline-success">Registrar Tareas</button>
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </form>
        </div>
    </div>
</div>


@* Finalizar visita *@
<div class="modal fade" id="finalizarVisitaModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="TitleCreateUpdateVisita" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form asp-action="FinalizarVisita" asp-controller="Casos"
                  data-ajax="true" data-ajax-method="POST"
                  data-ajax-begin="OpenWaitDialog()"
                  data-ajax-success="RespuestaVisitas(data)">
                <div class="modal-header">
                    <h5 class="modal-title">Finalizar Visita</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <input type="text" hidden="hidden" id="FinalizarVisitaID" name="visita.ID" readonly="readonly" />
                        <h5 class="modal-title">Tareas Realizadas</h5>
                        <div class="form-floating mt-3 mb-3 col-12 col-md-6">
                            <input type="datetime" class="form-control" id="HoraInicio" autocomplete="off" readonly="readonly" />
                            <label for="HoraInicio" class="form-label">Hora Inicio:</label>
                        </div>
                        <div class="form-floating mt-3 mb-3 col-12 col-md-6">
                            <input type="datetime" class="form-control" id="HoraFin" autocomplete="off" readonly="readonly" />
                            <label for="HoraFin" class="form-label">Hora Fin:</label>
                        </div>
                        <div class="form-floating mt-3 mb-3 col-12 col-md-6">
                            <ol class="list-group list-group-numbered" id="ListaTareasVisita"></ol>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-outline-success">Finalizar Visita</button>
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </form>
        </div>
    </div>
</div>