﻿@{
    ViewData["Title"] = "Inicio de Sesión";
}

@if (!string.IsNullOrWhiteSpace(ViewBag.Mensaje))
{
    <div aria-live="polite" aria-atomic="true" class="position-relative">
        <div class="toast-container position-absolute top-0 end-0 p-3">
            <div class="toast align-items-center text-white bg-danger border-0 show" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <strong class="me-auto">Alerta</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">
                    @ViewBag.Mensaje
                </div>
            </div>
        </div>
    </div>
}

<div class="row justify-content-center">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h2 class="text-center mb-4">Iniciar Sesión</h2>

                <div class="row justify-content-center mb-4">
                    <div class="col-md-6">
                        <img src="https://static4.depositphotos.com/1000899/288/i/450/depositphotos_2887376-stock-photo-mechanical-engineer.jpg" class="img-thumbnail" alt="...">
                    </div>
                </div>

                <form asp-action="Index" method="post">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="Usuario" name="usuario.Usuario" placeholder="Ingrese usuario" required>
                        <label for="Usuario" class="form-label">Usuario</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" id="Contrasenia" name="usuario.Contrasenia" placeholder="Ingrese contraseña" required>
                        <label for="Contrasenia" class="form-label">Contraseña</label>
                    </div>

                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary btn-block">Iniciar Sesión</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>