﻿@{
    ViewData["Title"] = "Usuarios";
}

<script type="text/javascript">
    var urlUsuarios = '@Url.Action("ListaUsuarios", "Usuarios")';
    var encabezadosUsuarios = ['ID', 'Usuario', 'Nombre', 'Correo', 'Foto de Perfil', 'Rol', 'Agencia', 'Estado', '']

    $(document).ready(function () {
        LlenarDataTable(urlUsuarios, 'usuariosDiv', encabezadosUsuarios)
    });

    function RespuestaCrearEditarUsuarios(data) {
        data.resultado ? Alerta("Éxito", data.mensaje, "success") : Alerta("Alerta", data.mensaje, "danger")

        if (data.resultado) {
            $("#crearUsuariosModal").modal("hide");
            LlenarDataTable(urlUsuarios, 'usuariosDiv', encabezadosUsuarios)
            $("#ID").val('');
            $("#Nombre").val('');
            $("#Latitud").val('');
            $("#Longitud").val('');
        }
        CloseWaitDialog();
    }

    function CambiarEstadoUsuario(id) {
        OpenWaitDialog()
        var urlGetStudent = '@Url.Action("CambiarEstadoUsuario", "Usuarios")' + '?id=' + id;
        $.ajax({
            url: urlGetStudent,
            type: 'GET',
            success: function (result) {
                if (result.resultado) {
                    Alerta("Éxito", result.mensaje, "success")
                    LlenarDataTable(urlUsuarios, 'usuariosDiv', encabezadosUsuarios)
                } else {
                    Alerta("Alerta", result.mensaje, "warning")
                }
                CloseWaitDialog()
            },
            error: function () {
                console.log("Fallo al eliminar el usuario");
                CloseWaitDialog()
            }
        });
    }

    function ObtenerUsuario(id) {
        OpenWaitDialog()
        var urlGetCommunity = '@Url.Action("ObtenerUsuario", "Usuarios")' + '?id=' + id;
        $("#TitleCreateUpdate").text('Editar Usuario');
        $.ajax({
            url: urlGetCommunity,
            type: 'GET',
            success: function (result) {
                if (result.Result != null && result.Result != undefined) {
                    Alerta(result.Title, result.Message, result.Icon);
                } else {
                    $("#ID").val(result.ID);
                    $("#Nombre").val(result.Nombre);
                    $("#Latitud").val(result.Latitud);
                    $("#Longitud").val(result.Longitud);
                    $("#crearComunidadModal").modal("show");
                }
                CloseWaitDialog()
            },
            error: function () {
                console.log("Fallo al obtener el usuario");
                CloseWaitDialog()
            }
        });
    }

    function EliminarUsuario(id) {
        OpenWaitDialog()
        var urlGetStudent = '@Url.Action("EliminarUsuario", "Usuarios")' + '?id=' + id;
        $.ajax({
            url: urlGetStudent,
            type: 'GET',
            success: function (result) {
                if (result.resultado) {
                    Alerta("Éxito", result.mensaje, "success")
                    LlenarDataTable(urlUsuarios, 'usuariosDiv', encabezadosUsuarios)
                } else {
                    Alerta("Alerta", result.mensaje, "warning")
                }
                CloseWaitDialog()
            },
            error: function () {
                console.log("Fallo al eliminar el usuario");
                CloseWaitDialog()
            }
        });
    }

    function ClearControlModal() {
        $("#ID").val('');
        $("#Nombre").val('');
        $("#Latitud").val('');
        $("#Longitud").val('');
        $("#TitleCreateUpdate").text('Crear Usuario');
    }
</script>

<div class="row">
    <div class="col-12 col-md-6">
        <h1>Usuarios</h1>
    </div>
    <div class="col-12 col-md-6">
        <button type="button" class="float-sm-end btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#crearUsuariosModal" onclick="ClearControlModal()">Crear Usuario</button>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-12 table-responsive" id="usuariosDiv"></div>
</div>

<div class="modal fade" id="crearUsuariosModal" tabindex="-1" aria-labelledby="TitleCreateUpdate" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form asp-action="CrearEditarUsuarios" asp-controller="Usuarios"
                  data-ajax="true" data-ajax-method="POST"
                  data-ajax-begin="OpenWaitDialog()"
                  data-ajax-success="RespuestaCrearEditarUsuarios(data)">
                <div class="modal-header">
                    <h5 class="modal-title" id="TitleCreateUpdate"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    <input type="hidden" class="form-control" id="ID" name="ID">
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <label for="Nombre" class="form-label">Nombre</label>
                            <input type="text" class="form-control regex-class" id="Nombre" name="Nombre" regexPat="^[A-Za-zÁÉÍÓÚñáéíóúÑ ]$" required autocomplete="off" placeholder="Ingrese el nombre">
                        </div>
                        <div class="col-12">
                            <label for="Latitud" class="form-label">Latitud</label>
                            <input type="number" class="form-control" step="0.0000001" id="Latitud" name="Latitud" autocomplete="off" placeholder="Ingrese la latitud">
                        </div>
                        <div class="col-12">
                            <label for="Longitud" class="form-label">Longitud</label>
                            <input type="number" class="form-control" step="0.0000001" id="Longitud" name="Longitud" autocomplete="off" placeholder="Ingrese la longitud">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-outline-success">Guardar</button>
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </form>
        </div>
    </div>
</div>